In [34]:
import numpy as np
import pandas as pd

### Public

In [35]:
championship_public = pd.read_csv("publico.csv")

In [36]:
championship_public

      Unnamed: 0        data  rodada  publico       time_man       time_vis
0              0  2003-03-29       1      NaN        Guarani  Vasco da Gama
1              1  2003-03-29       1      NaN    Atlético-PR         Grêmio
2              2  2003-03-30       1      NaN       Flamengo    Coritiba FC
3              3  2003-03-30       1      NaN       Goiás EC    Paysandu SC
4              4  2003-03-30       1      NaN  Internacional    Ponte Preta
...          ...         ...     ...      ...            ...            ...
7025        7025  2021-02-26      38      0.0  Internacional    Corinthians
7026        7026  2021-02-26      38      0.0       EC Bahia      Santos FC
7027        7027  2021-02-26      38      0.0   Athletico-PR   Sport Recife
7028        7028  2021-02-26      38      0.0       Ceará SC       Botafogo
7029        7029  2021-02-26      38      0.0    Atlético-GO    Coritiba FC

[7030 rows x 6 columns]

In [53]:
filtered_values = np.where(((championship_public["time_man"] == "Botafogo")) & (championship_public["data"] >= "2010-01-01") & (championship_public["data"] <= "2015-01-01"))
flamengo_public = championship_public.loc[filtered_values]
flamengo_public.reset_index(inplace=True)
# flamengo_public.to_csv("Flamengo_publico.csv")
flamengo_public.drop(axis=1, inplace = True, labels = ["index","rodada", "Unnamed: 0", "data", "time_man", "time_vis"])

In [54]:
flamengo_public

    publico
0   25634.0
1   17135.0
2   20373.0
3   14267.0
4    7250.0
..      ...
90   3059.0
91  42391.0
92   3187.0
93   8250.0
94   3694.0

[95 rows x 1 columns]

# Variables

## Editing the dataframe with the brasileirão information

In [39]:
# public = pd.read_csv("estadiosdefutebol.csv")
championship_data = pd.read_csv("campeonato-brasileiro-full.csv")

In [40]:
championship_data

,ID,rodada,data,hora,dia,mandante,visitante,formacao_mandante,formacao_visitante,tecnico_mandante,tecnico_visitante,vencedor,arena,mandante_placar,visitante_placar,mandante_estado,visitante_estado,estado_vencedor
0,1,1,2003-03-29,16:00,Sabado,Guarani,Vasco,NaN,NaN,NaN,NaN,Guarani,brinco de ouro,4,2,SP,RJ,SP
1,2,1,2003-03-29,16:00,Sabado,Athletico-PR,Gremio,NaN,NaN,NaN,NaN,Athletico-PR,arena da baixada,2,0,PR,RS,PR
2,3,1,2003-03-30,16:00,Domingo,Flamengo,Coritiba,NaN,NaN,NaN,NaN,-,maracana,1,1,RJ,PR,-
3,4,1,2003-03-30,16:00,Domingo,Goias,Paysandu,NaN,NaN,NaN,NaN,-,serra dourada,2,2,GO,PA,-
4,5,1,2003-03-30,16:00,Domingo,Internacional,Ponte Preta,NaN,NaN,NaN,NaN,-,beira rio,1,1,RS,SP,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7640,7641,38,2021-12-12,21:33,Domingo,Bragantino,Internacional,4-2-3-1,3-4-2-1,D. Aguirre Camblor,D. Aguirre Camblor,Bragantino,nabizao,1,0,SP,RS,SP
7641,7642,38,2021-12-12,21:30,Domingo,Sport,Athletico-PR,4-2-3-1,3-4-2-1,J. Freitas,J. Freitas,-,arena de pernambuco,1,1,PE,PR,-
7642,7643,38,2021-12-12,21:33,Domingo,Juventude,Corinthians,3-4-3,4-3-3,S. Campos Junior,S. Campos Junior,Juventude,alfredo jaconi,1,0,RS,SP,RS
7643,7644,38,2021-12-12,21:33,Domingo,Gremio,Atletico-MG,4-2-3-1,4-2-3-1,A. Stival,A. Stival,Gremio,arena do gremio,4,3,RS,MG,RS
7644,7645,38,2021-12-12,21:33,Domingo,Santos,Cuiaba,3-4-2-1,4-4-2,J. de Amorim Campos,J. de Amorim Campos,-,estadio urbano caldeira,1,1,SP,MT,-

In [41]:
filtered_values = np.where(((championship_data["mandante"] == "Botafogo-RJ") | (championship_data["visitante"] == "Botafogo-RJ")) & (championship_data["data"] >= "2010-01-01") & (championship_data["data"] <= "201501-01"))
flamengo_games = championship_data.loc[filtered_values]
flamengo_games.reset_index(inplace=True)
flamengo_games.drop(axis=1, inplace = True, labels = ["formacao_mandante", "formacao_visitante", "tecnico_mandante", "tecnico_visitante", "arena","mandante_estado","visitante_estado","estado_vencedor", "data", "mandante_placar", "visitante_placar"])
flamengo_games

,index,ID,rodada,hora,dia,mandante,visitante,vencedor
0,3086,3087,1,18:30,Sabado,Botafogo-RJ,Santos,-
1,3100,3101,2,16:00,Domingo,Sao Paulo,Botafogo-RJ,Botafogo-RJ
2,3106,3107,3,16:00,Sabado,Botafogo-RJ,Goias,Botafogo-RJ
3,3122,3123,4,21:50,Quarta-feira,Cruzeiro,Botafogo-RJ,Cruzeiro
4,3131,3135,5,18:30,Domingo,Botafogo-RJ,Vasco,-
...,...,...,...,...,...,...,...,...
185,4937,4948,34,19:30,Sabado,Fluminense,Botafogo-RJ,Fluminense
186,4947,4938,35,19:31,Quarta-feira,Botafogo-RJ,Figueirense,Figueirense
187,4964,4965,36,19:29,Domingo,Chapecoense,Botafogo-RJ,Chapecoense
188,4970,4971,37,17:01,Domingo,Santos,Botafogo-RJ,Santos
189,4981,4982,38,17:00,Domingo,Botafogo-RJ,Atletico-MG,-

In [42]:
filtered_values = np.where((flamengo_games["mandante"] == "Botafogo-RJ"))
flamengo_home_games = flamengo_games.loc[filtered_values]
flamengo_home_games
#flamengo_home_games.to_csv("flamengo.csv")

,index,ID,rodada,hora,dia,mandante,visitante,vencedor
0,3086,3087,1,18:30,Sabado,Botafogo-RJ,Santos,-
2,3106,3107,3,16:00,Sabado,Botafogo-RJ,Goias,Botafogo-RJ
4,3131,3135,5,18:30,Domingo,Botafogo-RJ,Vasco,-
6,3152,3153,7,16:00,Domingo,Botafogo-RJ,Corinthians,-
8,3174,3175,9,18:30,Domingo,Botafogo-RJ,Guarani,-
...,...,...,...,...,...,...,...,...
180,4895,4896,29,18:30,Domingo,Botafogo-RJ,Sport,-
182,4914,4915,31,20:59,Sabado,Botafogo-RJ,Flamengo,Botafogo-RJ
184,4928,4929,33,20:59,Sabado,Botafogo-RJ,Athletico-PR,Athletico-PR
186,4947,4938,35,19:31,Quarta-feira,Botafogo-RJ,Figueirense,Figueirense
189,4981,4982,38,17:00,Domingo,Botafogo-RJ,Atletico-MG,-

##  Variable "Day"

In [43]:
list_days = []

for game in flamengo_home_games.index:
    if flamengo_home_games["dia"][game] in ["Sabado", "Domingo"]:
        list_days.append(1)
    else:
        list_days.append(0)
flamengo_home_games.drop(axis=1, inplace = True, labels = ["dia"])     
flamengo_home_games["day"] = list_days

In [44]:
flamengo_home_games

     index    ID  rodada   hora     mandante     visitante      vencedor  day
0     3086  3087       1  18:30  Botafogo-RJ        Santos             -    1
2     3106  3107       3  16:00  Botafogo-RJ         Goias   Botafogo-RJ    1
4     3131  3135       5  18:30  Botafogo-RJ         Vasco             -    1
6     3152  3153       7  16:00  Botafogo-RJ   Corinthians             -    1
8     3174  3175       9  18:30  Botafogo-RJ       Guarani             -    1
..     ...   ...     ...    ...          ...           ...           ...  ...
180   4895  4896      29  18:30  Botafogo-RJ         Sport             -    1
182   4914  4915      31  20:59  Botafogo-RJ      Flamengo   Botafogo-RJ    1
184   4928  4929      33  20:59  Botafogo-RJ  Athletico-PR  Athletico-PR    1
186   4947  4938      35  19:31  Botafogo-RJ   Figueirense   Figueirense    0
189   4981  4982      38  17:00  Botafogo-RJ   Atletico-MG             -    1

[95 rows x 8 columns]

## Variable "Time"

Horário   | Final de semana | Dia útil
--------- | ------ |---------
[11:00,18:00) | Cedo | Cedo
[18:00, 19:30) | Médio | Cedo
[19:30, 20:30) | Tarde | Cedo
[20:30, 21:50) | Tarde | Médio
[21:50, 22:30) | Tarde | Tarde

Horário   | HB1 | HB2
--------- | ------| -------
Cedo | 0 | 1
Médio | 1 | 0
Tarde | 1 | 1

In [45]:
early = []
normal = []
afternoon = []

for game in flamengo_home_games.index:
    if (((flamengo_home_games["day"][game] == 1) and ("11:00" <= flamengo_home_games["hora"][game] < "16:00")) or ((flamengo_home_games["day"][game] == 0) and ("16:00" <= flamengo_home_games["hora"][game] < "20:30"))):
        early.append(1)
        normal.append(0)
        afternoon.append(0)
    elif (((flamengo_home_games["day"][game] == 1) and ("16:00" <= flamengo_home_games["hora"][game] < "19:30")) or ((flamengo_home_games["day"][game] == 0) and ("20:30" <= flamengo_home_games["hora"][game] < "21:50"))):
        early.append(0)
        normal.append(1)
        afternoon.append(0)
    elif (((flamengo_home_games["day"][game] == 1) and ("19:30" <= flamengo_home_games["hora"][game] < "22:30")) or ((flamengo_home_games["day"][game] == 0) and ("21:50" <= flamengo_home_games["hora"][game] < "22:30"))):
        early.append(0)
        normal.append(0)
        afternoon.append(1)

flamengo_home_games.drop(axis=1, inplace = True, labels = ["hora"])   
flamengo_home_games["early"] = early
flamengo_home_games["normal"] = normal
flamengo_home_games["afternoon"] = afternoon

In [46]:
flamengo_home_games

,index,ID,rodada,mandante,visitante,vencedor,day,early,normal,afternoon
0,3086,3087,1,Botafogo-RJ,Santos,-,1,0,1,0
2,3106,3107,3,Botafogo-RJ,Goias,Botafogo-RJ,1,0,1,0
4,3131,3135,5,Botafogo-RJ,Vasco,-,1,0,1,0
6,3152,3153,7,Botafogo-RJ,Corinthians,-,1,0,1,0
8,3174,3175,9,Botafogo-RJ,Guarani,-,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...
180,4895,4896,29,Botafogo-RJ,Sport,-,1,0,1,0
182,4914,4915,31,Botafogo-RJ,Flamengo,Botafogo-RJ,1,0,0,1
184,4928,4929,33,Botafogo-RJ,Athletico-PR,Athletico-PR,1,0,0,1
186,4947,4938,35,Botafogo-RJ,Figueirense,Figueirense,0,1,0,0
189,4981,4982,38,Botafogo-RJ,Atletico-MG,-,1,0,1,0

## Variable "last matches"

In [47]:
R1 = []
R2 = []
R3 = []
R4 = []
list_games = [R1,R2,R3,R4]
for game in flamengo_home_games.index:
    for list_game, index in zip(list_games, range(game-1, game-5, -1)):
        if index < 0:
            list_game.append(np.nan)
        elif flamengo_games["rodada"][game] < flamengo_games["rodada"][index]:
            list_game.append(np.nan)
        elif flamengo_games["vencedor"][index] == "-":
            list_game.append(1)
        elif flamengo_games["vencedor"][index] == "Flamengo":
            list_game.append(3)
        else:
            list_game.append(0)
            
flamengo_home_games["R1"] = R1
flamengo_home_games["R2"] = R2
flamengo_home_games["R3"] = R3
flamengo_home_games["R4"] = R4

In [48]:
flamengo_home_games

,index,ID,rodada,mandante,visitante,vencedor,day,early,normal,afternoon,R1,R2,R3,R4
0,3086,3087,1,Botafogo-RJ,Santos,-,1,0,1,0,NaN,NaN,NaN,NaN
2,3106,3107,3,Botafogo-RJ,Goias,Botafogo-RJ,1,0,1,0,0.0,1.0,NaN,NaN
4,3131,3135,5,Botafogo-RJ,Vasco,-,1,0,1,0,0.0,0.0,0.0,1.0
6,3152,3153,7,Botafogo-RJ,Corinthians,-,1,0,1,0,0.0,1.0,0.0,0.0
8,3174,3175,9,Botafogo-RJ,Guarani,-,1,0,1,0,3.0,1.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
180,4895,4896,29,Botafogo-RJ,Sport,-,1,0,1,0,1.0,0.0,0.0,0.0
182,4914,4915,31,Botafogo-RJ,Flamengo,Botafogo-RJ,1,0,0,1,0.0,1.0,1.0,0.0
184,4928,4929,33,Botafogo-RJ,Athletico-PR,Athletico-PR,1,0,0,1,0.0,0.0,0.0,1.0
186,4947,4938,35,Botafogo-RJ,Figueirense,Figueirense,0,1,0,0,0.0,0.0,0.0,0.0
189,4981,4982,38,Botafogo-RJ,Atletico-MG,-,1,0,1,0,0.0,0.0,0.0,0.0

## variable "Rivals"

In [49]:
local_rivals = ["Flamengo", "Vasco", "Fluminense"]
national_rivals = ["Cruzeiro", "Gremio", "Internacional", "Santos", "Sao Paulo", "Atletico-MG", "Corinthians", "Palmeiras"]

list_rivalry_1 = []
list_rivalry_2 = []
list_rivalry_3 = []

for game in flamengo_home_games.index:
    if flamengo_home_games["visitante"][game] in local_rivals:
        list_rivalry_1.append(1)
        list_rivalry_2.append(0)
        list_rivalry_3.append(0)

    elif flamengo_home_games["visitante"][game] in national_rivals:
        list_rivalry_1.append(0)
        list_rivalry_2.append(1)
        list_rivalry_3.append(0)
    else:
        list_rivalry_1.append(0)
        list_rivalry_2.append(0)
        list_rivalry_3.append(1)

flamengo_home_games.drop(axis=1, inplace = True, labels = ["mandante", "visitante", "vencedor", "ID", "index"])   
        
        
flamengo_home_games["list_rivalry_1"] = list_rivalry_1
flamengo_home_games["list_rivalry_2"] = list_rivalry_2
flamengo_home_games["list_rivalry_3"] = list_rivalry_3

In [50]:
flamengo_home_games

,rodada,day,early,normal,afternoon,R1,R2,R3,R4,list_rivalry_1,list_rivalry_2,list_rivalry_3
0,1,1,0,1,0,NaN,NaN,NaN,NaN,0,1,0
2,3,1,0,1,0,0.0,1.0,NaN,NaN,0,0,1
4,5,1,0,1,0,0.0,0.0,0.0,1.0,1,0,0
6,7,1,0,1,0,0.0,1.0,0.0,0.0,0,1,0
8,9,1,0,1,0,3.0,1.0,0.0,1.0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
180,29,1,0,1,0,1.0,0.0,0.0,0.0,0,0,1
182,31,1,0,0,1,0.0,1.0,1.0,0.0,1,0,0
184,33,1,0,0,1,0.0,0.0,0.0,1.0,0,0,1
186,35,0,1,0,0,0.0,0.0,0.0,0.0,0,0,1
189,38,1,0,1,0,0.0,0.0,0.0,0.0,0,1,0

In [51]:
flamengo_home_games.reset_index(inplace=True)
flamengo_home_games.drop(axis=1, inplace = True, labels = ["index"])

In [55]:
flamengo_home_games = flamengo_home_games.join(flamengo_public)

In [56]:
flamengo_home_games

,rodada,day,early,normal,afternoon,R1,R2,R3,R4,list_rivalry_1,list_rivalry_2,list_rivalry_3,publico
0,1,1,0,1,0,NaN,NaN,NaN,NaN,0,1,0,25634.0
1,3,1,0,1,0,0.0,1.0,NaN,NaN,0,0,1,17135.0
2,5,1,0,1,0,0.0,0.0,0.0,1.0,1,0,0,20373.0
3,7,1,0,1,0,0.0,1.0,0.0,0.0,0,1,0,14267.0
4,9,1,0,1,0,3.0,1.0,0.0,1.0,0,0,1,7250.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
90,29,1,0,1,0,1.0,0.0,0.0,0.0,0,0,1,3059.0
91,31,1,0,0,1,0.0,1.0,1.0,0.0,1,0,0,42391.0
92,33,1,0,0,1,0.0,0.0,0.0,1.0,0,0,1,3187.0
93,35,0,1,0,0,0.0,0.0,0.0,0.0,0,0,1,8250.0
94,38,1,0,1,0,0.0,0.0,0.0,0.0,0,1,0,3694.0

In [57]:
flamengo_home_games.to_csv("botafogo.csv", index = False)

In [19]:
flamengo_home_games_fin = pd.read_csv("flamengo_home_games_fin.csv")

In [20]:
flamengo_home_games_fin

,rodada,position,day,early,normal,afternoon,R1,R2,R3,R4,list_rivalry_1,list_rivalry_2,list_rivalry_3,publico
0,1,NaN,1,0,1,0,NaN,NaN,NaN,NaN,0,0,1,7863
1,3,12.0,0,0,1,0,0.0,3.0,NaN,NaN,0,0,1,2705
2,5,5.0,0,0,1,0,3.0,1.0,0.0,3.0,0,0,1,6164
3,6,4.0,1,0,1,0,3.0,3.0,1.0,0.0,1,0,0,54655
4,9,7.0,1,0,1,0,3.0,0.0,0.0,3.0,0,1,0,27233
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71,30,1.0,1,0,1,0,1.0,3.0,3.0,3.0,1,0,0,64985
72,32,1.0,1,0,1,0,3.0,3.0,1.0,3.0,0,0,1,65930
73,34,1.0,0,0,1,0,3.0,3.0,3.0,3.0,1,0,0,52757
74,35,1.0,0,0,1,0,1.0,3.0,3.0,3.0,0,0,1,67539
75,37,1.0,0,1,0,0,3.0,3.0,1.0,3.0,0,0,1,69090